GTHOME/
PREFIX/
boundcorpus-orig-pdf-xsl/
freecorpus-orig-pdf-xsl/
.bash_history
.bash_logout
.bash_profile
.bash_profile_common
.bash_profile_local
.bashrc
.config/
.emacs
.gitconfig
.inputrc
.kshrc
.lesshst
.pylint.d/
.sqlite_history
.ssh/
.subversion/
.tramp_history
.vim/
.viminfo
.vimrc
.wget-hsts
