[Unit]
Description=SVN up apy user's checkouts

[Service]
User=apy
Type=simple
Restart=no
WorkingDirectory=/home/apy/GTHOME
ExecStart=/usr/bin/svn up /home/apy/GTHOME
Environment="PATH=/usr/sbin:/usr/bin"

